*.aux
*.log
*.out
*.bbl
*.blg
*.fls
*.idx
*.ilg
*.ind
*.ist
*.gz
*.toc
*.sav
*.glo
.DS_Store
Figures/vector_graphics/*/*.pdf
Figures/vector_graphics/*/*.png
ECSbook_simcode/*/*.png
ECSbook_simcode/*/*.pdf
ECSbook_simcode/*/*.npy
